<%- include('layouts/page'); -%>
<%- include('components/navbar'); -%>


<div class="md:container md:mx-auto p-4 sm:p-0">
  
  <h1 class="my-4">This's page Home</h1>

  <div class="sm:columns-2">
    <p>Well, let me tell you something, ...</p>
    <p class="break-after-column">Sure, go ahead, laugh...</p>
    <p>Maybe we can live without...</p>
    <p>Look. If you think this is...</p>
  </div>
</div>

<%- include('layouts/pageEnd'); -%>
